<div class="container my-5">
    <h3>Enrollment Courses</h3>
    <div class="row">
        <div class="col-md-4 my-4" *ngFor="let item of StudentDetails.enrollments" >
            <div class="card shadow-sm border-0 rounded">
                <div class="card-header  text-white text-center" [ngClass]="getProgressBarClass(item)">
                    <h5>{{item.courseScheduleResponse.courseResponse.courseName}}</h5>
                </div>
                <div class="card-body">
                    <p><strong>Start Date:</strong> {{item.courseScheduleResponse.startDate}}</p>
                    <p><strong>Start Time:</strong> {{item.courseScheduleResponse.time}}</p>
                    <p><strong>Progress:</strong>
                        <span class="text-dark"> In Process</span>
                    </p>
                    <div class="progress mb-3" style="height: 10px;">
                        <div class="progress-bar bg-info" [style.width]="getProgress(item) + '%'" role="progressbar"
                            [attr.aria-valuenow]="getProgress(item)" aria-valuemin="0" aria-valuemax="100">
                            {{ getProgress(item) | number: '1.0-0' }}%
                        </div>
                    </div>
            
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-outline-secondary border-0">View Details</button>
                </div>

            </div>
        </div>


    </div>
</div>