<div class="container">
    <h3 class="mt-3">Your Assignments</h3>
   

    <hr>
    <div class="row  ">
        <div class="col-12 col-sm-12 col-md-6 " *ngFor="let Sechdule of paginatedAssesment let i = index">
            <div class="card my-4">
                <h5 class="card-title font-weight-bold bg-secondary  p-2 py-2 rounded-top-2 text-center text-white m-0 ">
                    <a>{{Sechdule.courseScheduleResponse.courseResponse.courseName}}</a>
                </h5>
                <div *ngFor="let assesment of Sechdule.courseScheduleResponse.assessmentResponses ">
                 <div class="row">
                 
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="col-md-2">
                                <p class="mb-2 text-white fs-4 bg-danger text-center rounded-2">{{
                                    assesment.assessmentType }}
                                </p>
    
                            </div>
                          
                            <div class="row ">
                                <div class="col-md-6">
                                    <p class="card-text">
                                        <i class="bi bi-clock-history me-2"></i>Last Updated: {{ assesment.updateDate |
                                        date:
                                        'mediumDate' }}
                                    </p>
                                </div>
                                <div class="col-md-6">
    
                                    <p class="card-text">
                                        <i class="bi bi-calendar-event me-2"></i>{{ assesment.startDate | date:
                                        'mediumDate'
                                        }} - {{ assesment.endDate | date: 'mediumDate' }}
                                    </p>
    
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-6">
                                    <p class="card-text">
                                        <i class="bi bi-award me-2"></i>Pass Marks: {{ assesment.passMarks }}
                                    </p>
                                </div>
                                <div class="col-md-6 mt-1">
    
                                    <p class="card-text">
                                        <i class="bi bi-star-fill me-2"></i>Total Marks: {{ assesment.totalMarks }}
                                    </p>
    
                                </div>
                            </div>
    
    
    
                            <p class="card-text mt-1 ">
                                <i class="bi bi-info-circle me-2 "></i>Status: <span class="fw-bold text-success">{{
                                    assesment.status}}</span>
                            </p>
    
                            <div class="card-footer text-end">
                                <button class="btn btn-sm btn-outline-primary"><i class="bi bi-eye me-1"></i>View</button>
                                <button class="btn btn-sm btn-success mx-2"><i
                                        class="bi bi-cloud-arrow-up me-1"></i>Submit Assignment</button>
                            </div>
                        </div>
                        <hr class="m-0">
                    </div>
                 </div>
                   
                </div>


            </div>
        </div>
    </div>