<div class="container">
    <h3>Your Assignments</h3>
    <hr>
    <div class="row py-5">
        <div class="col-12 col-sm-12 col-md-6 d-lg-flex d-md-flex mx-auto justify-content-between"
            *ngFor="let Sechdule of paginatedAssesment let i = index">
            <div class="card">
                <img src="/course/card{{i+1}}.jpg" class="card-img-top"
                alt="...">
                <h5 class="card-title font-weight-bold bg-primary p-2 py-3 text-center text-white m-0 ">
                    <a>{{Sechdule.courseScheduleResponse.courseResponse.courseName}}</a>
                </h5>
                <div *ngFor="let assesment of Sechdule.courseScheduleResponse.assessmentResponses">
                    <div class="card-body">
                        <p class="mb-2 text-danger fs-5">
                            <i class="bi bi-list-task me-2"></i>{{ assesment.assessmentType }}
                        </p>
                    
                        <p class="card-text">
                            <i class="bi bi-calendar-event me-2"></i>{{ assesment.startDate | date: 'mediumDate' }} - {{ assesment.endDate | date: 'mediumDate' }}
                        </p>
                    
                        <p class="card-text">
                            <i class="bi bi-clock-history me-2"></i>Last Updated: {{ assesment.updateDate | date: 'mediumDate' }}
                        </p>
                        <p class="card-text">
                            <i class="bi bi-award me-2"></i>Pass Marks: {{ assesment.passMarks }}
                        </p>
                        <p class="card-text">
                            <i class="bi bi-star-fill me-2"></i>Total Marks: {{ assesment.totalMarks }}
                        </p>
                        <p class="card-text">
                            <i class="bi bi-info-circle me-2"></i>Status: <span class="fw-bold">{{ assesment.status }}</span>
                        </p>
                    
                        <button class="btn btn-md btn-outline-primary">
                            <i class="bi bi-eye me-1"></i>View
                        </button>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>

</div>
