<div class="container">
    <div class="table-wrapper">
      <div class="table-title">Orders</div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Order ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Date">2017-09-29 01:22</td>
            <td data-label="Order ID">200398</td>
            <td data-label="Name">iPhone X 64Gb Grey</td>
            <td data-label="Price">$999.00</td>
            <td data-label="Quantity">1</td>
            <td data-label="Total">$999.00</td>
          </tr>
          <tr>
            <td data-label="Date">2017-09-28 05:57</td>
            <td data-label="Order ID">200397</td>
            <td data-label="Name">Samsung S8 Black</td>
            <td data-label="Price">$756.00</td>
            <td data-label="Quantity">1</td>
            <td data-label="Total">$756.00</td>
          </tr>
          <tr>
            <td data-label="Date">2017-09-26 05:57</td>
            <td data-label="Order ID">200396</td>
            <td data-label="Name">Game Console Controller</td>
            <td data-label="Price">$22.00</td>
            <td data-label="Quantity">2</td>
            <td data-label="Total">$44.00</td>
          </tr>
          <tr>
            <td data-label="Date">2017-09-25 23:06</td>
            <td data-label="Order ID">200392</td>
            <td data-label="Name">USB 3.0 Cable</td>
            <td data-label="Price">$10.00</td>
            <td data-label="Quantity">3</td>
            <td data-label="Total">$30.00</td>
          </tr>
          <tr>
            <td data-label="Date">2017-09-24 05:57</td>
            <td data-label="Order ID">200391</td>
            <td data-label="Name">Smartwatch 4.0 LTE Wifi</td>
            <td data-label="Price">$199.00</td>
            <td data-label="Quantity">6</td>
            <td data-label="Total">$1,494.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>