<!-- Payment Progress -->
<h5 class="mt-4">Payment Progress</h5>




<!-- Table View -->
<div class="table-responsive mt-4">
    <table class="table table-bordered table-hover shadow-sm">
        <thead class="table-light">
            <tr>
                <th><i class="bi bi-hash"></i> Installment</th>
                <th><i class="bi bi-book text-primary"></i> Course name</th>
                <th><i class="bi bi-currency-dollar text-success"></i> Amount Paid</th>
                <th><i class="bi bi-currency-dollar text-success"></i> Pending amount</th>
                <th><i class="bi bi-calendar-event text-info"></i> Payment Date</th>
                <th><i class="bi bi-credit-card text-warning"></i> Payment Method</th>
                <th><i class="bi bi-arrow-repeat text-secondary"></i> Payment Type</th>
                <th><i class="bi bi-download"></i> Action</th>
            </tr>
        </thead>
        <tbody>

            <ng-container *ngFor="let item of Enrollments" >
                <!-- Installment Row -->
                <tr *ngIf="item.paymentResponse[0].installmentNumber == 1">
                    <td>Installment #{{item.paymentResponse[0].installmentNumber}}</td>
                    <td>{{item.courseScheduleResponse.courseResponse.courseName}}</td>
                    <td>{{item.paymentResponse[0].amountPaid}}</td>
                    <td>{{item.courseScheduleResponse.courseResponse.courseFee - item.paymentResponse[0].amountPaid}}
                    </td>
                    <td>{{item.paymentResponse[0].paymentDate}}</td>
                    <td>{{item.paymentResponse[0].paymentMethod}}</td>
                    <td>{{item.paymentResponse[0].paymentType}}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-danger p-0 py-2 px-3 m-1">
                            <i class="bi bi-wallet2"></i> Pay
                        </button>
                        <button class="btn btn-outline-primary btn-sm p-0 py-2 px-3 m-1">
                            <i class="bi bi-download"></i> Receipt
                        </button>
                    </td>
                </tr>

                <!-- Progress Bar Row -->
                <tr  *ngIf="item.paymentResponse[0].installmentNumber == 1">
                    <td colspan="8">
                        <div class="progress mt-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"  role="progressbar"
                            [ngClass]="calculateProgressColor(calculatePaymentProgress(item.paymentResponse[0].amountPaid, item.courseScheduleResponse.courseResponse.courseFee))"
                                [style.width]="calculatePaymentProgress(item.paymentResponse[0].amountPaid, item.courseScheduleResponse.courseResponse.courseFee) + '%'"
                                aria-valuemin="0" aria-valuemax="100">
                                {{calculatePaymentProgress(item.paymentResponse[0].amountPaid,
                                item.courseScheduleResponse.courseResponse.courseFee) | number : '1.0-0'}}% Paid
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-container>

        </tbody>
    </table>
</div>