<div class="container-fluid bg-white">
    <div class="row justify-content-center pt-5">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <h2 class="h3 mb-4 page-title">Settings</h2>
            <div class="my-4">
                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="course-tab" data-toggle="tab" href="#course" role="tab"
                            aria-controls="course" aria-selected="true">Course Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="institute-tab" data-toggle="tab" href="#institute" role="tab"
                            aria-controls="institute" aria-selected="false">Institute Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab"
                            aria-controls="notifications" aria-selected="false">Email Notifications</a>
                    </li>
                </ul>

                <h5 class="mb-0 mt-5">Course Settings</h5>
                <p>Select the courses you are enrolled in and your preferences.</p>
                <hr class="my-4" />

                <strong class="mb-0">Course Preferences</strong>
                <p>Control which course notifications and updates you wish to receive.</p>
                <div class="list-group mb-5 shadow">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Notifications for upcoming exams</strong>
                                <p class="text-muted mb-0">Get notified before your exams or tests start.</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <div class="checkbox-wrapper-57">
                                        <label class="container">
                                            <input type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">New course materials available</strong>
                                <p class="text-muted mb-0">Receive updates when new study materials are uploaded.</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <div class="checkbox-wrapper-57">
                                        <label class="container">
                                            <input type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-4" />

                <h5 class="mb-0 mt-5">Institute Settings</h5>
                <p>Set preferences for your institute's updates and notifications.</p>
                <div class="list-group mb-5 shadow">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Notify me about campus events</strong>
                                <p class="text-muted mb-0">Stay informed about events such as workshops and seminars.
                                </p>
                            </div>
                            <div class="col-auto">
                                <div class="checkbox-wrapper-57">
                                    <label class="container">
                                        <input type="checkbox">
                                        <div class="checkmark"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Notify me about class cancellations</strong>
                                <p class="text-muted mb-0">Get alerts when a class is canceled due to unforeseen
                                    circumstances.</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <div class="checkbox-wrapper-57">
                                        <label class="container">
                                            <input type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-4" />

                <h5 class="mb-0 mt-5">Email Notifications</h5>
                <p>Enable or disable email notifications for various updates.</p>
                <div class="list-group mb-5 shadow">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Notify me about grade updates</strong>
                                <p class="text-muted mb-0">Receive emails when new grades are posted.</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <div class="checkbox-wrapper-57">
                                        <label class="container">
                                            <input type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Notify me about new course offerings</strong>
                                <p class="text-muted mb-0">Get updates about newly offered courses each semester.</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <div class="checkbox-wrapper-57">
                                        <label class="container">
                                            <input type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>