<app-navebar-01></app-navebar-01>

<header>
    <div class="container-fluid headCon">
        <div class="text-white text-center">
            <h1 class="fw-bold fsSize">Our Courses</h1>
            <p><a href="" class="hometag">Home</a>-course</p>
        </div>
    </div>
</header>


<!-- course filter -->

<div class="container py-5 filter">
    <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-12 col-12 d-flex justify-content-between align-items-center mb-1">
            <p>Added:</p>
            <select class="w-75" aria-label="Small select example">
                <option selected>Recently</option>
                <option value="1">Past</option>
                <option value="2">Feauture</option>
            </select>
        </div>
        <div class=" col-lg-2 col-md-6 col-sm-12 col-12 d-flex justify-content-between align-items-center mb-1">
            <p>Type:</p>
            <select class="w-75" aria-label="Small select example">
                <option selected>Offline</option>
                <option value="1">Online</option>
            </select>
        </div>
        <div class=" col-lg-2 col-md-6 col-sm-12 col-12 d-flex justify-content-between align-items-center mb-1">
            <p>Level:</p>
            <select class="w-75" aria-label="Small select example">
                <option selected>Advance</option>
                <option value="1">Medium</option>
                <option value="2">Low</option>
            </select>
        </div>
        <div class=" col-lg-2 col-md-6 col-sm-12 col-12 d-flex justify-content-between align-items-center mb-1">
            <p>Price:</p>
            <select class="w-75" aria-label="Small select example">
                <option selected>10000-30000</option>
                <option value="1">30000-50000</option>
                <option value="2">50000-80000</option>
                <option value="3">80000-100000</option>
            </select>
        </div>
    </div>
</div>




<!-- Coruse Card -->

<div class="container">
    <div>
        <h1 class="headingCourses">Offline Courses</h1>
        <hr>
    </div>

    <div class="row py-4">
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-4" *ngFor="let course of courses">
            <div class="card border-0  rounded-2 course-card">
                <div class="position-relative">
                    <!-- Badge for Level -->
                    <div class="badge-level">
                        <span>{{ course.level }}</span>
                    </div>
                    <!-- Course Image -->
                    <img src="{{ course.imagePath }}" class="card-img-top" alt="Course Image">
                </div>
                <div class="card-body">
                    <!-- Course Title -->
                    <h5 class="card-title mb-2 text-dark fw-bold">{{ course.CourseName }}</h5>
                    <!--rating-->
                    <div class=" pb-2">
                        <i class="bi bi-star-fill text-warning" *ngFor="let i of [].constructor(course.rating)"></i>
                    </div>
                    <!-- Price -->
                    <p class="card-text text-danger fw-semibold">Rs {{ course.price }}</p>
                    <!-- Enroll & View More -->
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <button class="btn btn-primary btn-enroll" data-bs-toggle="modal" data-bs-target="#ScheduleView"
                            (mouseenter)="changeNameEnter($event)" (mouseleave)="changeNameMouseleave($event)"
                            (click)="viewProduct(course)">{{EnrollBtnName}}</button>
                        <a href="#" class="text-decoration-none view-more" data-bs-toggle="modal"
                            data-bs-target="#CourseView" (mouseenter)="viewProduct(course)">View More</a>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="CourseView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div *ngIf="ModalProduct.length>0">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-danger" id="staticBackdropLabel">Course Description</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            (click)="ClearModal()"></button>
                    </div>
                    <div class="modal-body overflow-x-hidden">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <img src="{{ModalProduct[0].imagePath}}" alt="" class="modalImg" width="100%">
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12  pt-lg-0 pt-md-2 pt-sm-2 pt-2">
                                <!-- Course Title -->
                                <h5 class="card-title mb-2 text-dark fw-bold ">{{ ModalProduct[0].CourseName }}</h5>
                                <!--rating-->
                                <div class=" pb-2">
                                    <i class="bi bi-star-fill text-warning"
                                        *ngFor="let i of [].constructor(ModalProduct[0].rating)"></i>
                                </div>

                                <!-- Price -->
                                <p class="card-text text-primary fw-semibold">Rs {{ ModalProduct[0].price }}</p>

                                <!-- description -->
                                <div>
                                    <p>{{ModalProduct[0].description}}</p>
                                </div>
                                <button class="btn btn-primary btn-enroll" data-bs-toggle="modal"
                                    data-bs-target="#ScheduleView" (mouseenter)="changeNameEnter($event)"
                                    (mouseleave)="changeNameMouseleave($event)">{{EnrollBtnName}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- SheduleView -->
    <div class="modal fade" id="ScheduleView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div>
                    <div class="modal-body overflow-x-hidden">
                        <div class="row">

                            <div *ngIf="ModalProduct.length>0">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 text-danger" id="staticBackdropLabel">{{
                                        ModalProduct[0].CourseName }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                        (click)="ClearModal()"></button>
                                </div>

                                <div class="row d-flex justify-content-evenly">
                                    <div class="card shadow-lg border-0 col-lg-6 col-md-12 col-sm-12 col-12 p-2" style="width: 30rem;"  *ngFor="let sechdule of ModalProduct[0].schedules">
                                        <img src="{{ModalProduct[0].imagePath}}" class="card-img-top" alt="...">
                                        <div class="card-body ScheduleBody">
                                            <div class="d-flex ">
                                                <p class="fw-bold  pe-1">Location:</p>
                                                <p>{{sechdule.Location}}</p>
                                            </div>
                                            <div class="d-flex ">
                                                <p class="fw-bold pe-1">StartDate:</p>
                                                <p>{{sechdule.StartDate}}</p>
                                            </div>
                                            <div class="d-flex ">
                                                <p class="fw-bold pe-1">EndDate:</p>
                                                <p>{{sechdule.EndDate}}</p>
                                            </div>
                                            <div class="d-flex ">
                                                <p class="fw-bold pe-1">Duration: </p>
                                                <p>{{sechdule.Duration}}</p>
                                            </div>
                                            <div class="d-flex ">
                                                <p class="fw-bold pe-1">Time: </p>
                                                <p>{{sechdule.Time}}</p>
                                            </div>
                                            <button class="btn btn-primary btn-enroll mt-3">Purchase</button>
                                        </div>
                                    </div>

                                 

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<app-footer></app-footer>