<app-navebar-01></app-navebar-01>
<div class="backgroundimage">
    <div class="container d-flex justify-content-center align-items-center vh-100">
      <div class="card p-4 shadow-lg login-card">
        <h2 class="text-center mb-4">Student Login</h2>
    
        <form [formGroup]="studentLoginForm" (ngSubmit)="onStudentSubmit()">
          <div class="form-group mb-3">
            <label for="nic">NIC Number</label>
            <input type="text" class="form-control" formControlName="nic" placeholder="Enter your NIC number" name="nic" required />
          </div>
    
          <div class="form-group mb-3 position-relative">
            <label for="password">Password</label>
            <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control" formControlName="password" placeholder="Enter your password" required />
          </div>
    
          <div class="form-group form-check mb-3">
            <input type="checkbox" class="form-check-input" id="showpassword" formControlName="showpassword" (change)="togglePassword()" />
            <label class="form-check-label" for="showpassword">Show Password</label>
          </div>
    
          <div class="form-group d-grid">
            <button class="btn btn-primary btn-block" type="submit" [disabled]="loading || studentLoginForm.invalid">
              <span *ngIf="!loading">Login</span>
              <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

<app-footer></app-footer> 

