<div class="container my-5">
  <div *ngIf="!NoCourseBool">
    <h4 >Completed Courses</h4>
    <hr>
  </div>
    <div class="row" *ngIf="StudentDetails">
        <div class="col-md-4 my-4" *ngFor="let item of StudentDetails.enrollments let i = index">
            <div class="card shadow-sm border-0 rounded" *ngIf="CompleteCourseCalculation(item)">
                <img src="/course/card{{i+1}}.jpg" class="card-img-top" alt="Course image">

                <div class="card-header text-white text-center" [ngClass]="getProgressBarClass(item)">
                    <h5><i
                            class="bi bi-bookmark-check pe-2"></i>{{item.courseScheduleResponse.courseResponse.courseName}}
                    </h5>
                </div>

                <div class="card-body">
                    <p><strong><i class="bi bi-calendar pe-2"></i>Start Date:</strong>
                        {{item.courseScheduleResponse.startDate}}</p>
                    <p><strong><i class="bi bi-clock pe-2"></i>Start Time:</strong> {{item.courseScheduleResponse.time}}
                    </p>
                    <p><strong><i class="bi bi-graph-up pe-2"></i>Progress:</strong> <span class="text-dark">In
                            Process</span></p>

                    <div class="progress mb-3" style="height: 10px;">
                        <div class="progress-bar bg-info" [style.width]="getProgress(item) + '%'" role="progressbar"
                            [attr.aria-valuenow]="getProgress(item)" aria-valuemin="0" aria-valuemax="100">
                            {{ getProgress(item) | number: '1.0-0' }}%
                        </div>
                    </div>
                </div>

                <div class="card-footer text-center">
                    <button class="btn btn-sm btn-success border-0 p-0 py-2 px-4">
                        Download Certficate
                    </button>
                </div>
            </div>


        </div>

        <h4>

            <div id="notfound" *ngIf="NoCourseBool">
                <div class="notfound">
                    <div class="notfound-404">
                        <h3>Oops! Page not found</h3>
                        <h1><span>4</span><span>0</span><span>4</span></h1>
                    </div>
                    <h2>we are sorry, but the page you requested was not found</h2>
                </div>
            </div>
        </h4>
    </div>
</div>