<div class="container my-5">
    <h3>Completed Courses</h3>
<div class="col-md-4 my-5">
    <div class="card shadow-sm border-0 rounded">
        <div class="card-header  text-white text-center bg-success">
            <h5>Hard Code For Final Design</h5>
        </div>
        <div class="card-body">
            <p><strong>Start Date:</strong> Mar 1, 2024</p>
            <p><strong>Progress:</strong> Completed</p>
            <div class="progress mb-3" style="height: 10px;">
                <div class="progress-bar bg-success" style="width: 100%;" role="progressbar"></div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-success btn-sm">Download Certificate</button>
        </div>
    </div>
</div>
</div>