<div class="container-fluid rounded bg-white py-5">
    <div class="row">
        <!-- Profile Picture Section -->
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="Student Picture">
                <span class="font-weight-bold">A.Anojan </span>
                <span class="text-black-50">anojan923.com</span>
                <span>Student ID: UT-1520</span>
                <button class="btn btn-outline-primary mt-3" type="button">Change Picture</button>
            </div>
        </div>

      
</div>
