<app-navebar-01></app-navebar-01>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" *ngIf="courses">
        <ng-container *ngFor="let item of courses.schedules; let i = index">
            <div class="carousel-item" [class.active]="i === 0" data-bs-interval="10000">
                <main class="mt-5 pt-4">
                    <div class="container mt-5">
                        <!-- Grid row -->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-6 mb-4">
                                <img src="{{courses.imageUrl}}"
                                    class="img-fluid" alt="" />
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-6 mb-4">
                                <!-- Content -->
                                <div class="p-4">
                                    <div class="mb-3">
                                        <!-- <p class="m-0">
                                            <span class="badge bg-dark me-1">{{courses.level}}</span>
                                        </p> -->
                                        <p class="m-0">
                                            <span class="badge bg-success me-1">{{item.scheduleStatus}}</span>
                                        </p>
                                    </div>

                                    <p class="lead">
                                        <span>Rs.{{courses.courseFee}}</span>
                                    </p>

                                    <strong>
                                        <p style="font-size: 20px;">{{courses.description}}</p>
                                    </strong>

                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor suscipit
                                        libero eos atque quia
                                        ipsa sint voluptatibus! Beatae sit assumenda asperiores iure at maxime atque
                                        repellendus maiores
                                        quia sapiente.
                                    </p>

                                    <form class="d-flex justify-content-left">
                                        <!-- Default input -->
                                        <div class="form-outline me-1" style="width: 100px;">
                                            <input type="number" value="1" class="form-control" />
                                        </div>
                                        <button class="btn btn-primary ms-1" type="submit">
                                            Add to cart
                                            <i class="fas fa-shopping-cart ms-1"></i>
                                        </button>
                                    </form>
                                </div>
                                <!-- Content -->
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->

                        <hr />
                    </div>
                </main>
            </div>
        </ng-container>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<app-footer></app-footer>