<div class="container-fluid mt-4">
  <div class="row">
    <!-- Add Announcement Form -->
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-header">
            <h4 class="mb-0">Add New Announcement</h4>
          </div>
      </div>
      <div class="card-body">
        <form [formGroup]="announcementForm" (ngSubmit)="onSubmit()">
               <!-- Title Field -->
               <div class="form-group mb-3">
                <label class="font-weight-bold">Title<span class="text-danger">*</span></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="bi bi-megaphone"></i></span>
                  </div>
                  <input formControlName="title" type="text" class="form-control" placeholder="Announcement Title">
                </div>
              </div>
        </form>

      </div>


    </div>


  </div>

</div>
