.active_Link{
    color: red;
}
.btnSearch{
    border: none;
    border-radius: 0%;
}
.form-control{
    border-radius: 0%;
   
}

.form-control:focus {
    border-bottom: 2px solid #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
    outline: none; 
  }

  
.avatar {
    height: 40px;
    width: 40px;
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width:768px) {
    .content {
        max-width: auto;
        width: auto;
    }
}
